﻿@model IEnumerable<WebApp.Models.Docente>

@{
    ViewBag.Title = "Index";
}

<h2>Docentes</h2>

<p>
    @Html.ActionLink("Agregar Docente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrera)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Cedula }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Cedula }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Cedula })
        </td>
    </tr>
}

</table>
