﻿@model WebApp.Models.Imparte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Imparte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaDeMentoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaDeMentoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdImparte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
