﻿@model IEnumerable<WebApp.Models.Imparte>

@{
    ViewBag.Title = "Index";
}

<h2>Guia de mentorias y docentes</h2>

<p>
    @Html.ActionLink("Agregar nuevo docente a mentorias", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Areas de mentoria
        </th>
        <th>
            Docentes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AreaDeMentoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docente.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdImparte }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdImparte }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdImparte })
        </td>
    </tr>
}

</table>
