﻿@model IEnumerable<WebApp.Models.AreaDeMentoria>

@{
    ViewBag.Title = "Index";
}

<h2>Areas de mentoria</h2>

<p>
    @Html.ActionLink("Crear nueva area de mentoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Area de mentoria
        </th>
        <th>
            Descripcion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
