﻿@model IEnumerable<WebApp.Models.Mentoria>

@{
    ViewBag.Title = "Index";
}

<h2>Mentorias Asignadas</h2>

<p>
    @Html.ActionLink("Agregar nueva mentoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Docente
            @*@Html.DisplayNameFor(model => model.Docente.Nombre)*@
        </th>
        <th>
            Estudiante
            @*@Html.DisplayNameFor(model => model.Estudiante.Nombre)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Docente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdMentoria }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdMentoria }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdMentoria })
        </td>
    </tr>
}

</table>
